
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(129,115,61,1) 59%);
}

.titulo {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(103,102,95,1) 39%);
    justify-content:space-around;
    color: #e3e3e3;   
}

nav a{
    color: rgb(243, 240, 240);
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}


.productos {
    flex: 3;
    margin-left: 250px; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productos section {
    margin-bottom: 20px;
}

.texto{
    width: 200px;
    position: fixed;
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
 }

.aside {
    flex: 1;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(60,115,196,1) 48%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.1);
}

.aside a{
    color: rgb(255, 255, 255);
    background-color: aqua;
    border: none;
    
}
.aside h3 {
    margin-top: 0;
}

footer {
    display: flex;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    justify-content: space-around;

}

.btn{
    background: rgb(37,28,138);
    background: linear-gradient(90deg, rgba(37,28,138,1) 0%, rgba(55,149,61,0.8519782913165266) 48%);
    font-family:Arial, Helvetica, sans-serif ;
    font-size:medium ;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    
}